@import url('https://fonts.googleapis.com/css?family=Inter:700|Work%20Sans:400');

:root {
    --text-50: #f0f1f5;
    --text-100: #e0e2eb;
    --text-200: #c2c5d6;
    --text-300: #a3a8c2;
    --text-400: #858bad;
    --text-500: #666f99;
    --text-600: #52587a;
    --text-700: #3d425c;
    --text-800: #292c3d;
    --text-900: #14161f;
    --text-950: #0a0b0f;
    
    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;
    
    --primary-50: #e9ebfc;
    --primary-100: #d2d7f9;
    --primary-200: #a5aef3;
    --primary-300: #7886ed;
    --primary-400: #4b5ee7;
    --primary-500: #1f35e0;
    --primary-600: #182bb4;
    --primary-700: #122087;
    --primary-800: #0c155a;
    --primary-900: #060b2d;
    --primary-950: #030516;
    
    --secondary-50: #e7ebfd;
    --secondary-100: #d0d8fb;
    --secondary-200: #a1b1f7;
    --secondary-300: #7189f4;
    --secondary-400: #4262f0;
    --secondary-500: #133bec;
    --secondary-600: #0f2fbd;
    --secondary-700: #0b238e;
    --secondary-800: #08185e;
    --secondary-900: #040c2f;
    --secondary-950: #020618;
    
    --accent-50: #e5ffff;
    --accent-100: #ccffff;
    --accent-200: #99ffff;
    --accent-300: #66ffff;
    --accent-400: #33ffff;
    --accent-500: #00ffff;
    --accent-600: #00cccc;
    --accent-700: #009999;
    --accent-800: #006666;
    --accent-900: #003333;
    --accent-950: #00191a;
    
}

body {
    margin: 0;
    background: var(--background-950);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: var(--text-50);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
  }

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: var(--background-900);
    color: var(--text-50);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 1rem;
}

nav a, .dropbtn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}

nav div {
    display: flex;
    align-items: center;
    margin: 0 25px;
}

.dropbtn {
    background-color: cyan;
    color: black;
    padding: 14px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(5, 187, 187);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; /* Added left property to align the dropdown with the button */
    top: 100%; /* Added top property to position the dropdown below the button */
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(5, 154, 154);
}

.dropdown:hover .dropdown-content {
    display: block;
}


.logo {
    font-size: 3.5rem;
    background: linear-gradient(to right, darkblue, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    float: right;
}
nav a {
    color: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.unturnedbox {
    margin: 0;
    padding: 0;
    border-style: solid;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: #777;
    margin-top: auto;
}
